{% extends "base.html" %}
{% block content %}
    {% include "block/header.html" %}
    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="user_center_info.html">· 个人信息</a></li>
                <li><a href="user_center_order.html" class="active">· 全部订单</a></li>
                <li><a href="user_center_site.html">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for one in order %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ one.order_date }}</li>
                    <li class="col02">订单号：{{ one.order_number }}</li>
                    <li class="col02 stress">{{ one.get_order_status_display }}</li>
                </ul>

                <table class="order_list_table w980">
                    <tbody>
                    <tr>
                        <td width="55%">
                            {% for i in one.orderinfo_set.all %}
                                <ul class="order_goods_list clearfix">
                                    <li class="col01"><img src="/static/{{ i.goods.goods_picture }}"></li>
                                    <li class="col02">{{ i.goods.goods_name }}<em>{{ i.goods.goods_price }}元/500g</em>
                                    </li>
                                    <li class="col03">{{ i.goods_count }}</li>
                                    <li class="col04"></li>
                                </ul>
                            {% endfor %}
                        </td>
                        <td class="total" width="15%"></td>
                        {% if one.order_status == 1 %}
                            <td width="15%">待付款</td>
                            <td width="15%"><a href="javascript:;" onclick="place_order(this)" class="oper_btn">去付款</a>
                            </td>
                        {% elif one.order_status == 2 %}
                            <td width="15%">已付款</td>
                            <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            {% endfor %}

            <div class="pagenation">
                <a href="#">
                    <上一页
                </a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">下一页></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block other_footer %}
    <script>
        function total_pay() {
            var order_table = document.getElementsByTagName("table")
            for (i = 0; i < order_table.length; i++) {
                var total_money = 0
                var order_col = order_table[i].getElementsByClassName('col02')
                for (j = 0; j < order_col.length; j++) {
                    var price = parseFloat(order_col[j].firstElementChild.innerText)
                    var count = parseFloat(order_col[j].nextElementSibling.innerText)
                    var value = price * count
                    order_table[i].getElementsByClassName('col04')[j].innerText = value.toFixed(2) + "元"
                    total_money += value
                }
                document.getElementsByClassName("total")[i].innerText = total_money.toFixed(2) + "元"
            }
        }
        total_pay()
    </script>
{% endblock %}