{% extends "base.html" %}


{% block content %}
    {% include "block/header.html" %}
    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <ul>
                <li><a href="user_center_info.html">· 个人信息</a></li>
                <li><a href="user_center_order.html">· 全部订单</a></li>
                <li><a href="user_center_site.html" class="active">· 收货地址</a></li>
            </ul>
        </div>
        <div class="right_content clearfix">
            <h3 class="common_title2">收货地址</h3>
            <div class="site_con">
                <dl>
                    {% if cur_usersite %}
                        <dt>当前地址：</dt>
                        <dd>{{ cur_usersite.sitearea }} ({{ cur_usersite.username }} 收) {{ cur_usersite.phone }}</dd>
                    {% endif %}
                    {% if his_usersite %}
                        <dt>历史地址:</dt>
                        {% for i in his_usersite %}
                            <dd>{{ i.sitearea }} ({{ i.username }} 收) {{ i.phone }} <a
                                    href="user_center_site.html?id={{ i.id }}">设为当前地址</a></dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </div>
            <h3 class="common_title2">编辑地址</h3>
            <div class="site_con">
                <form method="post">
                    {% csrf_token %}
                    <div class="form_group">
                        <label>收件人：</label>
                        <input type="text" name="username">
                    </div>
                    <div class="form_group form_group2">
                        <label>详细地址：</label>
                        <textarea class="site_area" name="sitearea"></textarea>
                    </div>
                    <div class="form_group">
                        <label>邮编：</label>
                        <input type="text" name="code">
                    </div>
                    <div class="form_group">
                        <label>手机：</label>
                        <input type="text" name="phone">
                    </div>

                    <input type="submit" name="" value="提交" class="info_submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}